<div class="center about-me">
	<p class="write anim"></p>
	<div class="answer answer1 anim">
		<a href="/contact"><blockquote>Je veux en savoir plus ! <span class="action anim">Me contacter</span></blockquote></a>
	</div>
	<div class="answer answer2 anim">
		<a href="/where"><blockquote>Tu cherche où exactement ?</blockquote></a>
	</div>
{{!-- 	<div class="answer answer3 anim">
		<a href="/colocation"><blockquote>C'est quoi pour toi une colocation ?</blockquote></a>
	</div> --}}
	<div class="answer answer4 anim">
		<a href="/budget"><blockquote>Paris c'est cher, c'est quoi ton budget ?</blockquote></a>
	</div>
</div>