<div class="center">
	<p class="question anim"></p>
	<div class="answer answer1 anim">
		<a href="/contact"><blockquote>Carrement <span class="action anim">Me contacter</span></blockquote></a>
	</div>
	<div class="answer answer2 anim">
		<a href="/about-me"><blockquote>Hum... J'aimerai en apprendre plus sur toi avant.</blockquote></a>
	</div>
</div>