<div class="center contact">
	<div class="form-elem anim">
		<h1 class="">Me contacter</h1>
	</div>
	<form action="" mathod="POST">
		<div class="form-elem anim">
			<label for="nom">Nom :</label>
			<input type="text" name="nom" value="">
			<div class="error nom">
				<p></p>
			</div>
		</div>
		<div class="form-elem anim">
			<label for="mail">Mail :</label>
			<input type="mail" name="mail" value="">
			<div class="error mail">
				<p></p>
			</div>
		</div>
		<div class="form-elem anim">
			<label class="space-after" for="message">Message :</label>
			<textarea name="message" id=""></textarea>
			<div class="error message">
				<p></p>
			</div>
		</div>
		<div class="form-elem anim left">
			<button type="submit" disabled>Formulaire désactivé</button>
		</div>
	</form>


</div>