<header class="hidden">
	<div class="content">
		<p class="menu">MENU</p>
		<a title="Accueil" href="/" class="button"><div class="circle"><i style="font-size:3.5em; left:0.3em; top:0;" class="icon-playback-play"></i></div></a>
		<a title="Ma recherche" href="/ma-recherche" class="button"><div class="circle"><i style="font-size:2.2em; left:0.3em; top:0.3em;" class="icon-search"></i></div></a>
		<a title="Je cherche aussi" href="/cherche-appart" class="button"><div class="circle"><i style="font-size:2.6em; left:0.15em; top:0.1em;" class="icon-home"></i></div></a>
		<a title="Partager" href="/partage" class="button"><div class="circle"><i style="font-size: 2.7em; left: 0.2em; top: 0.15em;" class="icon-star"></i></div></a>
		<a title="Qui suis-je" href="/about-me" class="button"><div class="circle"><i style="font-size: 2.7em; left: 0.4em; top: 0.13em;" class="icon-person"></i></div></a>
		{{!-- <a title="Colocation ?" href="/colocation" class="button"><div class="circle"><i style="font-size: 2.7em; left: 0.4em; top: 0.13em;" class="icon-person"></i></div></a> --}}
		<a title="Où je cherche" href="/where" class="button"><div class="circle"><i style="font-size: 2.6em; left: 0.35em; top: 0.15em;" class="icon-location"></i></div></a>
		<a title="Mon budget" href="/budget" class="button"><div class="circle"><i style="font-size: 2.8em; left: 0.12em; top: 0.15em;" class="icon-ruby"></i></div></a>
		<a title="Me contacter" href="/contact" class="button"><div class="circle"><i style="font-size: 2.6em; left: 0.25em; top: 0.15em;" class="icon-pencil"></i></div></a>
	</div>
	<div class="legend-box">
		<div class="legend hidden">
			<p class="legend-content"></p>
		</div>
	</div>
</header>