<div class="center">
	<p class="question anim"></p>
	<div class="answer answer1 anim">
		<a href="/recherche-appart-2015/about-me"><blockquote>Qui es-tu ? D'où viens-tu ?</blockquote></a>
	</div>
	<div class="answer answer2 anim">
		<a href="/recherche-appart-2015/where"><blockquote>Paris c'est grand, tu cherches où exactement ?</blockquote></a>
	</div>
{{!-- 	<div class="answer answer3 anim">
		<a href="/recherche-appart-2015/colocation"><blockquote>C'est quoi pour toi une colocation ?</blockquote></a>
	</div> --}}
	<div class="answer answer4 anim">
		<a href="/recherche-appart-2015/budget"><blockquote>Paris c'est cher, c'est quoi ton budget ?</blockquote></a>
	</div>

</div>