<div class="center">
	<p class="hello anim"></p>
	<div class="answer answer1 anim">
		<a href="/recherche-appart-2015/about-me"><blockquote>Je cherche un colocataire et je veux en savoir plus sur toi.</blockquote></a>
	</div>
	<div class="answer answer2 anim">
		<a href="/recherche-appart-2015/cherche-appart"><blockquote>Je cherche aussi un logement à Paris.</blockquote></a>
	</div>
	<div class="answer answer3 anim">
		<a href="/recherche-appart-2015/partage"><blockquote>Ni l'un ni l'autre mais je veux bien t'aider tout de même.</blockquote></a>
	</div>
</div>