<div class="center where">
	<p class="write anim"></p>
	<div class="map-group anim">
		<div class="map-separ"></div>
		<div class="map-overflow">
			<div id="map"></div>
		</div>
		<div class="map-separ"></div>
	</div>
	<div class="answer answer1 anim">
		<a href="/recherche-appart-2015/contact"><blockquote>Je veux en savoir plus ! <span class="action anim">Me contacter</span></blockquote></a>
	</div>
{{!-- 	<div class="answer answer3 anim">
		<a href="/recherche-appart-2015/colocation"><blockquote>C'est quoi pour toi une colocation ?</blockquote></a>
	</div> --}}
	<div class="answer answer4 anim">
		<a href="/recherche-appart-2015/budget"><blockquote>Paris c'est cher, c'est quoi ton budget ?</blockquote></a>
	</div>
</div>