// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,300italic,300,600italic,700italic,800,800italic);


// Vars
$red: #e74c3c;
$cloud: #ecf0f1;


html,
body
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;

    overflow-x: hidden;

    transition: background-color .3s;

    color: $cloud;
    background-color: $red;
}
html.white-back,
html.white-back body
{
    background-color: white;
}

#content
{
    margin-top: 2em;
}

// Header
header
{
    position: relative;
    z-index: 500;

    overflow: hidden;
    overflow: visible;

    height: 3em;
    margin-bottom: 2em;

    transition-duration: .3s;

    color: #4e323c;
    background-color: white;

    &:hover
    {
        height: 5em;
        .content
        {
            height: 5em;
        }
        .menu
        {
            margin-top: -3em;
        }
    }
    &.hidden
    {
        margin-top: -5em;
        margin-bottom: 0;
        .legend-box
        {
            display: none;
        }
    }

    .menu
    {
        line-height: 3em;

        width: 100%;
        height: 3em;
        margin: 0;

        transition-duration: .3s;
    }


    .legend-box
    {
        position: absolute;
        z-index: 480;
        right: -500px;
        bottom: -2.7em;
        left: -500px;

        height: 3em;

        transition-delay: 0s;
        transition-duration: .3s;
    }
    .legend-box.hidden
    {
        bottom: 3.5em;

        transition-delay: .3s;
    }
    .legend
    {
        display: inline-block;

        padding: 0 1em;

        transition-duration: .3s;
        transform: translateX(-50%);

        border-radius: 4px;
        background-color: white;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
    .content.shadow
    {
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    .legend-content
    {
        margin-top: .2em;
        margin-bottom: .5em;
    }

    .content
    {
        position: relative;
        z-index: 500;

        overflow-x: auto;
        overflow-y: hidden;

        height: 3em;
        margin-right: -3em;
        margin-left: -3em;

        transition-duration: .3s;
        text-align: center;

        background-color: white;
    }

    .content:hover .button.active .circle:hover
    {
        margin-right: .2em;
        margin-left: .2em;

        border: 4px solid;
    }
    .content:hover .button.active .circle
    {
        margin-right: 0;
        margin-left: 0;

        border: 0 solid rgba(255, 255, 255, 0);
    }

    .button
    {
        line-height: 5em;

        display: inline-block;

        height: 5em;

        cursor: pointer;
        transition-duration: .3s;
        text-align: center;
        text-decoration: none;
        //margin-left: .5em;
        //margin-right: .5em;

        opacity: .4;

        &:hover,
        &.active
        {
            opacity: 1;
        }

        .circle
        {
            position: relative;

            display: inline-block;

            width: 3em;
            height: 3em;
            padding: .2em;

            transition-duration: .3s;
            vertical-align: middle;

            border: 0 solid rgba(255, 255, 255, 0);
            border-radius: 300px;
        }
        .circle:hover
        {
            margin-right: .2em;
            margin-left: .2em;

            border: 4px solid;
        }

        i
        {
            font-size: 3em;

            position: absolute;

            margin: 0;
            padding: 0;
        }
    }
}

// Tools
.anim
{
    transition-timing-function: easeOutCubic;
    transition-duration: .5s;
}


// Play
#play-button path
{
    cursor: pointer;
}

// Welcom
.center
{
    margin-bottom: 2em;

    text-align: center;
}
.hello
{
    font-size: 1em;
    line-height: 1.6;

    margin-top: 3em;
    margin-bottom: 1.5em;
}
blockquote
{
    font-size: .8em;
    font-style: italic;

    display: inline-block;

    margin: 1em 2em;
    padding: .5em 3em;
    padding-bottom: .8em;

    cursor: pointer;
    transition-duration: .3s;

    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 8px;
}
blockquote:hover
{
    border: 1px solid rgba(255,255,255,.8);
}
blockquote:before
{
    content: '“ ';
}
blockquote:after
{
    content: ' ”';
}
blockquote:before,
blockquote:after
{
    font-size: 1.5em;
}
blockquote .action:before
{
    content: '[';
}
blockquote .action:after
{
    content: ']';
}
blockquote .action
{
    overflow: hidden;

    padding-right: .5em;
    padding-left: .5em;

    opacity: .5;
}


.answer
{
    display: none;

    transform: translate(50%);

    opacity: 0;
}
.answer a
{
    color: inherit;
}


// Contact
.contact
{
    font-size: .7em;

    h1
    {
        font-weight: 100;
    }
    .form-elem
    {
        width: 25em;
        margin: auto;
        margin-top: 2em;

        transform: translate(50%);

        opacity: 0;
    }
    .form-elem.left
    {
        text-align: left;
    }
    .error
    {
        font-size: .6em;

        overflow: hidden;

        height: 0;

        transition-duration: .3s;

        p
        {
            line-height: 2em;

            margin: 0;

            text-align: left;
        }
    }
    label
    {
        font-size: .7em;

        display: block;

        margin-top: 2em;

        text-align: left;
    }
    label.space-after
    {
        margin-bottom: .5em;
    }
    input
    {
        font-size: 1em;

        display: block;

        width: 100%;
        margin-bottom: 1px;
        padding: .2em;

        transition-duration: .3s;

        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        background: transparent;
    }
    input:focus
    {
        margin-bottom: 0;

        border-bottom: 2px solid rgba(255, 255, 255, 1);
        outline: 0;
    }
    textarea
    {
        font-size: .8em;

        display: block;

        box-sizing: border-box;
        width: 100%;
        padding: .3em .7em;

        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 4px;
        background: transparent;
    }
    textarea:focus
    {
        border-color: rgba(255, 255, 255, 1);
        outline: 0;
    }
    button[type='submit']
    {
        font-size: .9em;

        padding: .5em 3em;

        transition-duration: .1s;

        border: 1px solid white;
        border-radius: 4px;
        background: transparent;
    }
    button[type='submit']:hover
    {
        color: $red;
        background: white;
    }
    button[disabled] {
        border: 1px solid #999;
        cursor: not-allowed;
    }
    button[disabled]:hover {
        background: #999;
    }
    .success
    {
        font-size: 1.3em;

        text-align: center;
    }
}

.about-me
{
    .write,
    .write2
    {
        font-size: .7em;
        line-height: 1.7;
    }
}

.where
{
    #map
    {
        width: 100%;
        height: 20em;
    }
    .map-separ
    {
        position: relative;
        z-index: 100;

        height: 20px;
        margin-right: -20px;
        margin-left: -20px;

        transition-duration: .5s;

        background-color: transparent;
        box-shadow: 0 0 0 rgba(0,0,0,.4);
    }
    .map-overflow
    {
        overflow: hidden;

        height: 0;

        transition-duration: .5s;
    }
    .map-group.open
    {
        .map-overflow
        {
            height: 20em;
        }
        .map-separ
        {
            background-color: #5f2929;
            box-shadow: 0 0 16px rgba(0,0,0,.4);
        }
    }

    .info-content
    {
        color: #482e37;
    }
}

.budget
{
    .write
    {
        font-size: 1.2em;
        line-height: 1.8;
    }
    .budget-val
    {
        font-size: 3em;
        font-weight: 600;
    }
}


// Partage
.help-me
{
    font-size: 1em;
    line-height: 1.6;

    margin-top: 3em;
    margin-bottom: 1.5em;
}
.partage
{
    display: inline-block;
    overflow: hidden;

    box-sizing: border-box;
    width: 29%;
    padding: 0 1.5em;

    transform: translateY(30%);

    opacity: 0;
}
.partage path
{
    transition-duration: .3s;
}
.partage svg:hover path
{
    stroke-width: 6;
}
.partage svg:active path
{
    stroke-width: 8;
}


.next-button
{
    font-size: .8em;
    line-height: 1;

    position: fixed;
    z-index: 1000;
    bottom: 1em;
    left: 50%;

    width: 5em;
    padding: .5em 2em;

    cursor: pointer;
    transition-duration: .3s;
    transform: translateX(-50%);

    border-radius: 6px;
    background-color: #e74c3c;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

    p
    {
        margin: .5em;
    }
}
.next-button.hidden
{
    bottom: -10em;
}
